.grid {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar main main";
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
  height: 98vh;
}
      
      .header {
        grid-area: header;
        background-color: #f8b400;
        height: 100px;
        padding: 10px;
        font-size: 50px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 8px;
      }
      
      .sidebar {
        grid-area: sidebar;
        background-color: #00bcd4;
        width: 370px;
        padding: 20px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        border: 1px solid #ddd;
        border-radius: 8px;
      }

.sidebar p {
  font-weight: normal;
  font-size: 25px;
}
      
 .main {
  grid-area: main;
  background-color: #f0f0f0;
  padding: 20px;
  display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
}

.project {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
}

.project h2 {
  margin-top: 0;
}

.project a {
  color: #0077cc;
  text-decoration: none;
  font-weight: bold;
}

.project a:hover {
  text-decoration: underline;
}
